<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
	<!-- Sidebar user panel -->
	<div class="user-panel">
		<div class="pull-left image">
			<img src="partials/common/img/community/313aside.jpg" class="img-circle" alt="User Image">
		</div>
		<div class="pull-left info">
			<p>www.313.co.kr</p>
			<a href="#">
				<i class="fa fa-circle text-success"></i>
				Secured Online
			</a>
		</div>
	</div>
	<!-- search form -->
	<form action="#" method="get" class="sidebar-form">
		<div class="input-group">
			<input type="text" name="q" class="form-control" placeholder="Search...">
			<span class="input-group-btn">
				<button type="submit" name="search" id="search-btn" class="btn btn-flat">
					<i class="fa fa-search"></i>
				</button>
			</span>
		</div>
	</form>
	<!-- /.search form -->
	<!-- sidebar menu: : style can be found in sidebar.less -->
	<ul class="sidebar-menu">
		<li class="header">Dev NAVIGATION</li>
		<li class="active treeview">
			<a href="#">
				<i class="fa fa-sitemap"></i>
				<span>jsTree Service Engine</span>
				<i class="fa fa-angle-left pull-right"></i>
			</a>
			<ul class="treeview-menu">
				<li>
					<a href="#StandardDevelopment#/dev" ng-click="whyJsTree()">
						<i class="fa fa-circle-o text-aqua"></i>
						Why JsTree?
					</a>
				</li>
				<li>
					<a href="#StandardDevelopment#/dev" ng-click="jsTreeArchitecture()">
						<i class="fa fa-circle-o text-aqua"></i>
						JsTree Architecture
					</a>
				</li>
				<li>
					<a href="#StandardDevelopment#/dev" ng-click="strutsiBatis()">
						<i class="fa fa-circle-o text-aqua"></i>
						Struts iBatis v1
					</a>
				</li>
				<li>
					<a href="#StandardDevelopment#/dev" ng-click="springMyBatis()">
						<i class="fa fa-circle-o text-aqua"></i>
						Spring myBatis v2
					</a>
				</li>
				<li>
					<a href="#StandardDevelopment#/dev" ng-click="springHibernate()">
						<i class="fa fa-circle-o text-yellow"></i>
						Spring Hibernate v3
					</a>
				</li>
				<li>
					<a href="#StandardDevelopment#/dev" ng-click="dwr()">
						<i class="fa fa-circle-o text-red"></i>
						DWR v4
					</a>
				</li>
				<li>
					<a href="#StandardDevelopment#/dev" ng-click="lucene()">
						<i class="fa fa-circle-o text-red"></i>
						Lucene v5
					</a>
				</li>
				<li>
					<a href="#StandardDevelopment#/dev" ng-click="hadoop()">
						<i class="fa fa-circle-o text-red"></i>
						Hadoop v6
					</a>
				</li>
				<li>
					<a href="#StandardDevelopment#/dev" ng-click="machineLearning()">
						<i class="fa fa-circle-o text-red"></i>
						Machine Learning v7
					</a>
				</li>
			</ul>
		</li>
		<li class="treeview">
			<a href="#">
				<i class="fa fa-laptop"></i>
				<span>jsTree DEV Tools</span>
				<i class="fa fa-angle-left pull-right"></i>
			</a>
			<ul class="treeview-menu">
				<li>
					<a href="#StandardDevelopment#/dev" ng-click="confluence()">
						<i class="fa fa-circle-o text-aqua"></i>
						Confluence
					</a>
				</li>
				<li>
					<a href="#StandardDevelopment#/dev" ng-click="jira()">
						<i class="fa fa-circle-o text-aqua"></i>
						Jira
					</a>
				</li>
				<li>
					<a href="#StandardDevelopment#/dev" ng-click="github()">
						<i class="fa fa-circle-o text-aqua"></i>
						Github
					</a>
				</li>
				<li>
					<a href="#StandardDevelopment#/dev" ng-click="fisheyeCrucible()">
						<i class="fa fa-circle-o text-aqua"></i>
						Fisheye & Crucible
					</a>
				</li>
				<li>
					<a href="#StandardDevelopment#/dev" ng-click="nas()">
						<i class="fa fa-circle-o text-aqua"></i>
						Nas
					</a>
				</li>
				<li>
					<a href="#StandardDevelopment#/dev" ng-click="nexus()">
						<i class="fa fa-circle-o text-aqua"></i>
						Nexus
					</a>
				</li>
				<li>
					<a href="#StandardDevelopment#/dev" ng-click="bamboo()">
						<i class="fa fa-circle-o text-aqua"></i>
						Bamboo
					</a>
				</li>
				<li>
					<a href="#StandardDevelopment#/dev" ng-click="hudson()">
						<i class="fa fa-circle-o text-yellow"></i>
						Hudson
					</a>
				</li>
				<li>
					<a href="#StandardDevelopment#/dev" ng-click="maven()">
						<i class="fa fa-circle-o text-yellow"></i>
						Maven
					</a>
				</li>
				<li>
					<a href="#StandardDevelopment#/dev" ng-click="sonar()">
						<i class="fa fa-circle-o text-yellow"></i>
						Sonar
					</a>
				</li>
				<li>
					<a href="#StandardDevelopment#/dev" ng-click="google()">
						<i class="fa fa-circle-o text-red"></i>
						Google Analytics
					</a>
				</li>
				<li>
					<a href="#StandardDevelopment#/dev" ng-click="naver()">
						<i class="fa fa-circle-o text-red"></i>
						Naver Analytics
					</a>
				</li>
			</ul>
		</li>
		<li class="treeview">
			<a href="#">
				<i class="fa fa-users"></i>
				<span>jsTree Stakeholder</span>
				<i class="fa fa-angle-left pull-right"></i>
			</a>
			<ul class="treeview-menu">
				<li>
					<a href="#StandardDevelopment#/dev" ng-click="customers()">
						<i class="fa fa-circle-o text-aqua"></i>
						Customers
					</a>
				</li>
				<li>
					<a href="#StandardDevelopment#/dev">
						<i class="fa fa-circle-o text-aqua"></i>
						Project Managers
					</a>
				</li>
				<li>
					<a href="#StandardDevelopment#/dev">
						<i class="fa fa-circle-o text-aqua"></i>
						Designers
					</a>
				</li>
				<li>
					<a href="#StandardDevelopment#/dev" ng-click="frontendDevelopers()">
						<i class="fa fa-circle-o text-aqua"></i>
						FrontEnd Developers
					</a>
				</li>
				<li>
					<a href="#StandardDevelopment#/dev" ng-click="backendDevelopers()">
						<i class="fa fa-circle-o text-aqua"></i>
						BackEnd Developers
					</a>
				</li>
				<li>
					<a href="#StandardDevelopment#/dev">
						<i class="fa fa-circle-o text-aqua"></i>
						System Engineers
					</a>
				</li>
			</ul>
		</li>
	</ul>
</section>
<!-- /.sidebar -->