
<!-- 메인 작업 페이지 -->

<!-- Main content -->
<section class="content-header">
	<h1>
		휴대폰 대결
		<small>samsung vs iPhone</small>
	</h1>
</section>
<section class="main-box">
	<div class="main-view">
		<div class="grap-box">
			<span class="one">
				<em>samsung</em>
			</span>
			<span class="two">
				<em>iPhone</em>
			</span>
		</div>
		<p class="like-num">
			<span class="left">
				<em>20</em>
				Like
			</span>
			<span class="right">
				<em>120</em>
				Like
			</span>
		</p>
		<div class="main-left">
			<p class="main-img">
				<span class="goods-img">
					<img src="partials/layout/contents/RivalWar/img/sam.jpg" alt="">
				</span>
				<span class="goods-select">
					<em class="goods-title rival-item1-1">Galaxy S6</em>
					<span class="radio-box">
						<input type="radio" id="main-radio01" class="radio" name="main-radio">
						<label for="main-radio01">제품 선택하기</label>
					</span>
				</span>
			</p>
		</div>
		<div class="main-center">
			<p class="main-vs">
				<span>VS</span>
				<img class="img-responsive pad" src="partials/layout/contents/RivalWar/img/main-bg.jpg" alt="alm">
			</p>
		</div>
		<div class="main-right">
			<p class="main-img ">
				<span class="goods-img">
					<img src="partials/layout/contents/RivalWar/img/iPhone5.jpg" alt="">
				</span>
				<span class="goods-select">
					<em class="goods-title rival-item1-2">iPhone 6</em>
					<span class="radio-box">
						<input type="radio" id="main-radio02" class="radio" name="main-radio">
						<label for="main-radio02">제품 선택하기</label>
					</span>
				</span>
			</p>
		</div>
	</div>
	<p class="main-mes">좋아하시는 상품을 선택하세요~</p>
	<div class="main-table">
		<table>
			<caption>기본 비교</caption>
			<colgroup>
				<col width="40%">
				<col width="20%">
				<col width="40%">
			</colgroup>
			<thead>
				<tr>
					<th>Samsung Galaxy S6</th>
					<th>
						<span class="table-text">기본 스펙</span>
					</th>
					<th>iPhone 6</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>2.3GHz, 1,6GGz</td>
					<td>
						<span class="table-text">CPU 속도</span>
					</td>
					<td>2.3GHz, 1,6GGz</td>
				</tr>
				<tr>
					<td>Octa-Core</td>
					<td>
						<span class="table-text">CPU 종류</span>
					</td>
					<td>Octa-Core</td>
				</tr>
				<tr>
					<td>129.2mm</td>
					<td>
						<span class="table-text">크기 (Main)</span>
					</td>
					<td>129.2mm</td>
				</tr>
				<tr>
					<td>2560x1440 (Quad HD)</td>
					<td>
						<span class="table-text">해상도 (Main)</span>
					</td>
					<td>2560x1440 (Quad HD)</td>
				</tr>
				<tr>
					<td>Super AMOLED</td>
					<td>
						<span class="table-text">종류 (Main)</span>
					</td>
					<td>Super AMOLED</td>
				</tr>
				<tr>
					<td>16M</td>
					<td>
						<span class="table-text">색심도 (Main)</span>
					</td>
					<td>16M</td>
				</tr>
				<tr>
					<td>아니오</td>
					<td>
						<span class="table-text">S펜 지원</span>
					</td>
					<td>아니오</td>
				</tr>
			</tbody>
		</table>

	</div>
	<div class="pa-box">
		<div class="main-write">
			<textarea class="form-control" rows="2" placeholder="댓글 입력"></textarea>
			<button type="button" class="btn btn-default">등록</button>
		</div>
	</div>
	<div class="main-view">
		<div class="">
			<ul class="main-text-view">
				<li class="">
					<div class="box box-widget">
						<div class="box-header with-border">
							<div class="user-block">
								<span class="username rival-item1-1">
									<a href="#">삼성덕후</a>
								</span>
								<span class="description">7:30 PM Today</span>
							</div>
							<!-- /.user-block -->
						</div>
						<!-- /.box-header -->
						<div class="box-body">
							<!-- post text -->
							<p>휴대폰은 당연히 삼성폰이죠</p>
							<p>text</p>
							<!-- Social sharing buttons -->
							<div class="like-box">
								<button type="button" class="btn btn-default btn-xs">
									<i class="fa fa-thumbs-o-up"></i>
									Like
								</button>
								<button type="button" class="btn btn-default btn-xs">
									<i class="fa fa-chevron-down"></i>
									댓글보기
								</button>
								<span class="pull-right text-muted">45 좋아요 - 2 comments</span>
							</div>
						</div>
						<!-- /.box-body -->
						<div class="box-footer box-comments">
							<div class="box-comment">
								<!-- User image -->
								<div class="comment-text">
									<span class="username rival-item1-2">
										Maria Gonzales
										<span class="text-muted pull-right">8:03 PM Today</span>
									</span>
									<!-- /.username -->
									안드오이드라 쓰기 너무 힘들어요
								</div>
								<!-- /.comment-text -->
							</div>
							<!-- /.box-comment -->
							<div class="box-comment">
								<!-- User image -->
								<div class="comment-text">
									<span class="username rival-item1-1">
										Nora Havisham
										<span class="text-muted pull-right">8:03 PM Today</span>
									</span>
									<!-- /.username -->
									요즘 안드로이드가 얼마나 좋은데요
								</div>
								<!-- /.comment-text -->
							</div>
							<!-- /.box-comment -->
						</div>
						<!-- /.box-footer -->
						<div class="box-footer">
							<form action="#" method="post">
								<!-- .img-push is used to add margin to elements next to floating images -->
								<div class="input-group img-push">
									<input type="text" class="form-control input-sm">
									<span class="input-group-btn">
										<button type="button" class="btn btn-sm btn-flat">등록</button>
									</span>
								</div>
							</form>
						</div>
						<!-- /.box-footer -->
					</div>
				</li>
				<li class="">
					<div class="box box-widget">
						<div class="box-header with-border">
							<div class="user-block">
								<span class="username rival-item1-2">
									<a href="#">아이폰 덕후</a>
								</span>
								<span class="description">7:30 PM Today</span>
							</div>
							<!-- /.user-block -->
						</div>
						<!-- /.box-header -->
						<div class="box-body">
							<!-- post text -->
							<p>뭐니뭐니해도 앱등이</p>
							<p>text</p>
							<!-- Social sharing buttons -->
							<div class="like-box">
								<button type="button" class="btn btn-default btn-xs">
									<i class="fa fa-thumbs-o-up"></i>
									Like
								</button>
								<button type="button" class="btn btn-default btn-xs">
									<i class="fa fa-chevron-down"></i>
									댓글보기
								</button>
								<span class="pull-right text-muted">45 좋아요 - 2 comments</span>
							</div>
						</div>
						<!-- /.box-body -->
						<div class="box-footer box-comments">
							<div class="box-comment">
								<!-- User image -->
								<div class="comment-text">
									<span class="username rival-item1-2">
										Maria Gonzales
										<span class="text-muted pull-right">8:03 PM Today</span>
									</span>
									<!-- /.username -->
									보안 때문에 아이폰이 짱
								</div>
								<!-- /.comment-text -->
							</div>
							<!-- /.box-comment -->
							<div class="box-comment">
								<!-- User image -->
								<div class="comment-text">
									<span class="username rival-item1-2">
										Nora Havisham
										<span class="text-muted pull-right">8:03 PM Today</span>
									</span>
									<!-- /.username -->
									무조건 아이폰
								</div>
								<!-- /.comment-text -->
							</div>
							<!-- /.box-comment -->
						</div>
						<!-- /.box-footer -->
						<div class="box-footer">
							<form action="#" method="post">
								<!-- .img-push is used to add margin to elements next to floating images -->
								<div class="input-group img-push">
									<input type="text" class="form-control input-sm">
									<span class="input-group-btn">
										<button type="button" class="btn btn-sm btn-flat">등록</button>
									</span>
								</div>
							</form>
						</div>
						<!-- /.box-footer -->
					</div>
				</li>
			</ul>
		</div>
	</div>
</section>
