
<!-- Content Header (Page header) -->
<section class="content-header">
	<h1>
		jsTree Sevice Engine
		<small>Support System</small>
	</h1>
	<ol class="breadcrumb">
		<li>
			<a href="/">
				<i class="fa fa-dashboard"></i>
				Home
			</a>
		</li>
		<li class="active">Dashboard</li>
	</ol>
</section>

<!-- Main content -->
<section class="content">
	<!-- Small boxes (Stat box) -->
	<div class="row">
		<div class="col-lg-3 col-xs-6">
			<!-- small box -->
			<div class="small-box bg-aqua">
				<div class="inner">
					<h3>
						30
						<sup style="font-size: 20px">%</sup>
					</h3>

					<p>제품 출시 기간</p>
				</div>
				<div class="icon">
					<i class="ion ion-bag"></i>
				</div>
				<a href="#" class="small-box-footer">
					More info
					<i class="fa fa-arrow-circle-right"></i>
				</a>
			</div>
		</div>
		<!-- ./col -->
		<div class="col-lg-3 col-xs-6">
			<!-- small box -->
			<div class="small-box bg-green">
				<div class="inner">
					<h3>
						50
						<sup style="font-size: 20px">%</sup>
					</h3>

					<p>품질 개선</p>
				</div>
				<div class="icon">
					<i class="ion ion-stats-bars"></i>
				</div>
				<a href="#" class="small-box-footer">
					More info
					<i class="fa fa-arrow-circle-right"></i>
				</a>
			</div>
		</div>
		<!-- ./col -->
		<div class="col-lg-3 col-xs-6">
			<!-- small box -->
			<div class="small-box bg-yellow">
				<div class="inner">
					<h3>
						39
						<sup style="font-size: 20px">%</sup>
					</h3>

					<p>생산성 개선</p>
				</div>
				<div class="icon">
					<i class="ion ion-person-add"></i>
				</div>
				<a href="#" class="small-box-footer">
					More info
					<i class="fa fa-arrow-circle-right"></i>
				</a>
			</div>
		</div>
		<!-- ./col -->
		<div class="col-lg-3 col-xs-6">
			<!-- small box -->
			<div class="small-box bg-red">
				<div class="inner">
					<h3>
						45
						<sup style="font-size: 20px">%</sup>
					</h3>

					<p>비용 절감</p>
				</div>
				<div class="icon">
					<i class="ion ion-pie-graph"></i>
				</div>
				<a href="#" class="small-box-footer">
					More info
					<i class="fa fa-arrow-circle-right"></i>
				</a>
			</div>
		</div>
		<!-- ./col -->
		<div class="col-md-3 col-sm-6 col-xs-12">
			<div class="info-box bg-gray">
				<span class="info-box-icon">
					<i class="fa fa-recycle"></i>
				</span>

				<div class="info-box-content">
					<span class="info-box-text">향상된</span>
					<span class="info-box-text">프로젝트</span>

					<div class="progress">
						<div class="progress-bar" style="width: 100%"></div>
					</div>
					<span class="progress-description"> 아키텍쳐 </span>
				</div>
				<!-- /.info-box-content -->
			</div>
			<!-- /.info-box -->
		</div>
		<!-- /.col -->
		<div class="col-md-3 col-sm-6 col-xs-12">
			<div class="info-box bg-gray">
				<span class="info-box-icon">
					<i class="fa fa-object-group"></i>
				</span>

				<div class="info-box-content">
					<span class="info-box-text">국가표준</span>
					<span class="info-box-text">전자정부</span>

					<div class="progress">
						<div class="progress-bar" style="width: 100%"></div>
					</div>
					<span class="progress-description"> 통합 </span>
				</div>
				<!-- /.info-box-content -->
			</div>
			<!-- /.info-box -->
		</div>
		<!-- /.col -->
		<div class="col-md-3 col-sm-6 col-xs-12">
			<div class="info-box bg-gray">
				<span class="info-box-icon">
					<i class="fa fa-television"></i>
				</span>

				<div class="info-box-content">
					<span class="info-box-text">글로벌</span>
					<span class="info-box-text">프로젝트</span>

					<div class="progress">
						<div class="progress-bar" style="width: 100%"></div>
					</div>
					<span class="progress-description"> 시스템 </span>
				</div>
				<!-- /.info-box-content -->
			</div>
			<!-- /.info-box -->
		</div>
		<!-- /.col -->
		<div class="col-md-3 col-sm-6 col-xs-12">
			<div class="info-box bg-gray">
				<span class="info-box-icon">
					<i class="fa fa-globe"></i>
				</span>

				<div class="info-box-content">
					<span class="info-box-text">국제표준</span>
					<span class="info-box-text">프로젝트</span>

					<div class="progress">
						<div class="progress-bar" style="width: 100%"></div>
					</div>
					<span class="progress-description"> 관리 </span>
				</div>
				<!-- /.info-box-content -->
			</div>
			<!-- /.info-box -->
		</div>
		<!-- /.col -->
	</div>
	<!-- /.row -->
	<!-- Info boxes -->
	<div class="row">
		<div class="col-md-12">
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">Monthly Recap Report</h3>

					<div class="box-tools pull-right">
						<button type="button" class="btn btn-box-tool" data-widget="collapse">
							<i class="fa fa-minus"></i>
						</button>
						<div class="btn-group">
							<button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
								<i class="fa fa-wrench"></i>
							</button>
							<ul class="dropdown-menu" role="menu">
								<li>
									<a href="#">Action</a>
								</li>
								<li>
									<a href="#">Another action</a>
								</li>
								<li>
									<a href="#">Something else here</a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="#">Separated link</a>
								</li>
							</ul>
						</div>
						<button type="button" class="btn btn-box-tool" data-widget="remove">
							<i class="fa fa-times"></i>
						</button>
					</div>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<img class="img-responsive pad centered" src="partials/common/img/community/index.png" alt="Concept">

					<p>I took this photo this morning. What do you guys think?</p>
					<button type="button" class="btn btn-default btn-xs">
						<i class="fa fa-share"></i>
						Share
					</button>
					<button type="button" class="btn btn-default btn-xs">
						<i class="fa fa-thumbs-o-up"></i>
						Like
					</button>
					<span class="pull-right text-muted">127 likes - 3 comments</span>
				</div>
			</div>
			<!-- /.box -->
		</div>
		<!-- /.col -->
	</div>
	<!-- /.row -->

</section>
<!-- /.content -->
